body{
  background-color:#E4EFE7;
}
.container{
  display:flex;
  justify-content: center;
  margin-top:10px;
 
}

.person{
  margin: 10px;

}

.btn{
  display: flex;
  justify-content: space-evenly;
}

button{
  background-color: aqua;
  color:#fff ;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  border:none;
  text-transform: uppercase;
}